{% extends "base.html" %}
{% block content %}
    {% for post in posts %}
        <div class="posts">
            <ul>
                <li><a href="{{ url_for('show_user', user_url_slug=post.owner) }}"><img src="{{ url_for('send_file', filename=post.owner_img_url) }}" alt="Profile picture" class="profilepicture"></a></li>
                <li><a href="{{ url_for('show_user', user_url_slug=post.owner) }}" class="username"><b>{{post.owner}}</b></a></li>
                <li><a href="{{ url_for('show_post', post_url_slug=post.postid) }}" class="time">{{post.timestamp}}</a></li>
            </ul>
            <img src="{{ url_for('send_file', filename=post.img_url) }}" alt="Post" style="width:400px; height:400px; position: relative; margin-right: auto; margin-left: auto;">
            {% if post.likes == 1%}
                <p>1 like</p>
            {% else %}
                <p>{{post.likes}} likes</p>
            {% endif %}
            {% if post.logname_liked == false %}
                <form action="{{ url_for('like') }}?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="like"/>
                    <input type="hidden" name="postid" value="{{post.postid}}"/>
                    <input type="submit" name="like" value="like"/>
                </form>
            {% else %}
                <form action="{{ url_for('like') }}?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="unlike"/>
                    <input type="hidden" name="postid" value="{{post.postid}}"/>
                    <input type="submit" name="unlike" value="unlike"/>
                </form>
            {% endif %}
            {% for comment in post.comments %}
                <p><a href="{{ url_for('show_user', user_url_slug=comment.owner) }}"><b>{{comment.owner}}</b></a> {{comment.text}}</p>
            {% endfor %}
            <form action="{{ url_for('comment') }}?target={{ url_for('show_index') }}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="create"/>
                <input type="hidden" name="postid" value="{{post.postid}}"/>
                <input type="text" name="text" required/>
                <input type="submit" name="comment" value="comment"/>
            </form>
        </div>
    {% endfor %}
{% endblock %}